<!-- Formulario de entrada de datos -->
<fieldset id="recuadro">
  <form>
    <div>
      <label for="name">Nombre:</label>
      <input type="text" id="name" [(ngModel)]="name" name="name">
    </div>
    <div>
      <label for="gender">Sexo:</label>
      <label><input type="radio" id="male" [(ngModel)]="gender" name="gender" value="male">Hombre</label>
      <label><input type="radio" id="female" [(ngModel)]="gender" name="gender" value="female">Mujer</label>
    </div>
    <div>
      <label for="weight">Peso:</label>
      <super-boton (click)="adjust('-', 'weight')" texto="-" color="orange"></super-boton>
      {{ weight }}
      <super-boton (click)="adjust('+', 'weight')" texto="+" color="orange"></super-boton>
    </div>
    <div>
      <label for="height">Altura:</label>
      <super-boton (click)="adjust('-', 'height')" texto="-" color="orange" ></super-boton>
      {{ height }}
      <super-boton (click)="adjust('+', 'height')" texto="+" color="orange"></super-boton>
    </div>
    <div id="botones">
      <super-boton (click)="clear()" texto="X" color="red" id="borrar"></super-boton>
      <super-boton (click)="calculate()" texto="✓" color="green" id="calcular"></super-boton>
    </div>
    
    
  </form>
</fieldset>



<!-- Listado de resultados -->


<div *ngIf="message">
  <h2>{{ message.name }} {{ message.message }}</h2>
</div>
<h2>Historico</h2>
<ul>
  <li *ngFor="let result of results">
    <app-elemento-lista [result]="result"></app-elemento-lista>
  </li>
</ul>
